 
{{ callout_title = switch (
    (type == 'important') => 'Important',
    (type == 'note') => 'Note',
    (type == 'tip') => 'Tip',
    (type == 'warning') => 'Warning',
    (type == 'caution') => 'Caution',
    () => 'Note',
)}}

{{ callout_icon = switch (
    (type == 'important') => 'chat-dots',
    (type == 'note') => 'info',
    (type == 'tip') => 'lightbulb',
    (type == 'warning') => 'warning',
    (type == 'caution') => 'warning-octagon',
    () => 'Note',
)}}


<div class="not-prose callout callout-{{ type or 'note' }}">
    <p class="callout-header">
        {{ svg :src="callout_icon" class="size-4" fill="currentColor" }}
        {{ callout_title }}
    </p>
    <div class="prose callout-content">
        {{ if {slot:content} }}
            {{ slot:content }}
        {{ else }}
            <p>
                {{ content }}
            </p>
        {{ /if }}
    </div>
</div>
