.callout {
    background-color: var(--callout-background);
    color: var(--callout-body-content);
    border-color: var(--callout-border);
    margin-top: --spacing(8);
    margin-bottom: --spacing(8);
    border-radius: var(--radius-lg);
    border-width: 1px;

    :where(.callout-header) {
        display: flex;
        align-items: center;
        gap: --spacing(2);
        font-weight: var(--font-weight-semibold);
        background-color: var(--callout-background);
        color: var(--callout-header-content);
        padding-top: --spacing(2);
        padding-bottom: --spacing(2);
        padding-left: --spacing(3);
        padding-right: --spacing(3);
    }

    :where(.callout-content) {
        padding: --spacing(5)
    }
}

.callout-important {
    --callout-background: --alpha(var(--color-indigo-500) / 5%);
    --callout-border: --alpha(var(--color-indigo-500) / 15%);
    --callout-header-content: var(--color-indigo-400);
    --callout-body-content: inherit;
}

.callout-caution {
    --callout-background: --alpha(var(--color-rose-500) / 5%);
    --callout-border: --alpha(var(--color-rose-500) / 15%);
    --callout-header-content: var(--color-rose-400);
    --callout-body-content: inherit;
}

.callout-note {
    --callout-background: --alpha(var(--color-cyan-500) / 5%);
    --callout-border: --alpha(var(--color-cyan-500) / 15%);
    --callout-header-content: var(--color-cyan-400);
    --callout-body-content: inherit;
}

.callout-tip {
    --callout-background: --alpha(var(--color-teal-500) / 5%);
    --callout-border: --alpha(var(--color-teal-500) / 15%);
    --callout-header-content: var(--color-teal-400);
    --callout-body-content: inherit;
}

.callout-warning {
    --callout-background: --alpha(var(--color-yellow-500) / 5%);
    --callout-border: --alpha(var(--color-yellow-500) / 15%);
    --callout-header-content: var(--color-yellow-400);
    --callout-body-content: inherit;
}
